[submodule "lib/BMP388_DEV"]
	path = lib/BMP388_DEV
	url = https://github.com/MartinL1/BMP388_DEV.git
[submodule "lib/Adafruit_LSM6DS"]
	path = lib/Adafruit_LSM6DS
	url = https://github.com/adafruit/Adafruit_LSM6DS.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "lib/etl-arduino"]
	path = lib/etl-arduino
	url = https://github.com/ETLCPP/etl-arduino.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = git@github.com:jerabaul29/Adafruit_BusIO.git
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = git@github.com:greiman/SdFat.git
[submodule "Adafruit_GPS"]
	path = Adafruit_GPS
	url = git@github.com:adafruit/Adafruit_GPS.git
